<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Tecnoforja - Equipamiento industriales</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <!-- Favicon
    ================================================== -->
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">

    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ 'assets/plugins/bootstrap/bootstrap.min.css'|theme }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{{ 'assets/plugins/fontawesome/css/all.min.css'|theme }}">
    <!-- Animation -->
    <link rel="stylesheet" href="{{ 'assets/plugins/animate-css/animate.css'|theme }}">
    <!-- slick Carousel -->
    <link rel="stylesheet" href="{{ 'assets/plugins/slick/slick.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/plugins/slick/slick-theme.css'|theme }}">
    <!-- Colorbox -->
    <link rel="stylesheet" href="{{ 'assets/plugins/colorbox/colorbox.css'|theme }}">
    <!-- Template styles-->
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">

</head>

<body>
    
    {% page %}

</body>

</html>